<div class="header-content">
    <div class="logo-container">
        <img src="imgs/LOGO.svg" style="width: 170px; align-content: center; margin-top: 10px;"/>
    </div>
    <div class="header-elements">
        <div class="header-top">
            <div class="top-space-1">
                1
            </div>
            <div class="header-notifications">
                <button mat-icon-button aria-label="buffer" style="margin-top: 2px; margin-left: 70px; width: 54px; height: 54px;">
                    <mat-icon style="font-size: 36px; height: 38px; width: 38px;">notifications</mat-icon>
                </button>
            </div>
            <div class="header-user-info">
                <div 
                style="display: flex; flex-direction: 
                column; margin-top: 5px; font-size: 14px;">
                    <label>User Organizarion: <b>Organization</b></label>
                    <label>User Name: <b>Name</b></label>
                </div>
            </div>
            <div class="header-settings">
                <button mat-icon-button aria-label="buffer" style="margin-top: 2px; margin-left: 30px; width: 54px; height: 54px;">
                    <mat-icon style="font-size: 36px; height: 38px; width: 38px;">settings</mat-icon>
                </button>
            </div>
        </div>
        <div class="header-bottom">
            <div class="header-location-info">
                <div class="header-location-info-e">
                    <mat-icon style="margin-top: 2px;">location_on</mat-icon>
                    <nav class="breadcrumb" style="margin-top: 5px; font-size: 16px;">
                        <label style="margin-right: 10px;">Location: </label>
                        <a href="#" style="margin-right: 5px;"> Sri Lanka</a>
                        <span style="margin-right: 5px;">></span>
                        <a href="#">Badulla</a>
                        <span style="margin-right: 5px;">></span>
                        <span style="margin-right: 5px;">Bandarawela</span>
                    </nav>
                </div>
            </div>
            <div class="header-search">
                Search
            </div>
            <div class="header-layers">
                Layers
            </div>
            <div class="header-workspace">
                workspace
            </div>
        </div>
    </div>
</div>