<div class="side-panel-space-1">
    <div matRipple class="side-panel-button">
        <mat-icon>layers</mat-icon>
        <div class="button-label">Layers</div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="side-panel-space-1">
    <div matRipple class="side-panel-button">
        <mat-icon>upload</mat-icon>
        <div class="button-label">Import</div>
    </div>
    <div matRipple class="side-panel-button">
        <mat-icon>download</mat-icon>
        <div class="button-label">Export</div>
    </div>
    <div matRipple class="side-panel-button">
        <mat-icon>autorenew</mat-icon>
        <div class="button-label">Load Temporary Points</div>
    </div>
    <div matRipple class="side-panel-button">
        <mat-icon>delete_forever</mat-icon>
        <div class="button-label">Remove Temporary Points</div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="side-panel-space-1">
    <div matRipple class="side-panel-button">
        <mat-icon>print</mat-icon>
        <div class="button-label">Print</div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="side-panel-space-1">
    <div matRipple class="side-panel-button">
        <mat-icon>cloud_upload</mat-icon>
        <div class="button-label">Upload to Infobhoomi Web</div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="side-panel-space-1">
    <div matRipple class="side-panel-button">
        <mat-icon>tune</mat-icon>
        <div class="button-label">Query Builder</div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="side-panel-space-1">
    <div matRipple class="side-panel-button">
        <mat-icon>history</mat-icon>
        <div class="button-label">History</div>
    </div>
</div>