<div class="map-tools-content">
    <div class="map-tool-set-1">
        <div class="map-tool">
            <button mat-fab aria-label="Points" >
                <mat-icon>fiber_manual_record</mat-icon>
            </button>
        </div>
        <div class="map-tool">
            <button mat-fab aria-label="lines" >
                <mat-icon>timeline</mat-icon>
            </button>
        </div>
        <div class="map-tool">
            <button mat-fab aria-label="polygon" >
                <mat-icon>pentagon</mat-icon>
            </button>
        </div>
    </div>
    
    <div class="map-tool-set-2">
        <div class="map-tool">
            <button mat-fab aria-label="buffer" >
                <mat-icon>radio_button_checked</mat-icon>
            </button>
        </div>
        <div class="map-tool">
            <button mat-fab aria-label="Tag" >
                <mat-icon>sell</mat-icon>
            </button>
        </div>
    </div>
    
    <div class="map-tool-set-3">
        <div class="map-tool">
            <button mat-fab aria-label="Edit" >
                <mat-icon>edit_square</mat-icon>
            </button>
        </div>
        <div class="map-tool">
            <button mat-fab aria-label="Split" >
                <mat-icon>content_cut</mat-icon>
            </button>
        </div>
        <div class="map-tool">
            <button mat-fab aria-label="merge" >
                <mat-icon>merge</mat-icon>
            </button>
        </div>
        <div class="map-tool">
            <button mat-fab aria-label="Tag" >
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
    
    <div class="map-tool-set-4">
        <div class="map-tool">
            <button mat-fab aria-label="select" >
                <mat-icon>arrow_outward</mat-icon>
            </button>
        </div>
        <div class="map-tool">
            <button mat-fab aria-label="pan" >
                <mat-icon>pan_tool</mat-icon>
            </button>
        </div>
        <div class="map-tool">
            <button mat-fab aria-label="measure" >
                <mat-icon>square_foot</mat-icon>
            </button>
        </div>
    </div>
    
    <div class="map-tool-set-5">
        <div class="map-tool">
            <button mat-fab aria-label="buffer" >
                <mat-icon>zoom_in</mat-icon>
            </button>
        </div>
        <div class="map-tool">
            <button mat-fab aria-label="Tag" >
                <mat-icon>zoom_out</mat-icon>
            </button>
        </div>
    </div>
</div>
